/* Components */

.btn {
	padding: 10px 20px;
	border-radius: 5px;
	border: 2px solid var(--primary-color);
	font-weight: 400;
}

.btn--primary {
	color: var(--primary-color);
	background-color: var(--white);
}

.btn--secondary {
	background-color: var(--primary-color);
	color: var(--white);
}

/* Header */

nav {
	background-color: var(--white);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	position: fixed;
	width: 100%;
}

.nav__img {
	max-width: 40px;
	width: 100%;
}

.nav__right .btn--secondary {
	margin-left: 15px;
}

.hero {
	min-height: 100dvh;
	padding: 140px 100px 100px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 50px;
	background-color: var(--primary-color);
	color: var(--white);
}

.hero__left {
	width: 100%;
	max-width: 700px;
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

.hero__left__title {
	font-size: clamp(3rem, 5vw + 1rem, 4.5rem);
}

.hero__left__text {
	font-size: clamp(1rem, 3vw + 0.1rem, 1.2rem);
	line-height: 1.2;
}

.hero__right {
	width: 100%;
	max-width: 500px;
	text-align: center;
	container-type: inline-size;
	container-name: heroRight;
}

/* Main */

.apresentation {
	background-color: var(--white);
	color: var(--black);
	padding: 120px 100px;
}

.apresentation__title {
	font-size: clamp(1.5rem, 5vw + 1rem, 2.5rem);
	color: var(--primary-color);
	margin-bottom: 35px;
}

.apresentation__title span {
	font-size: clamp(1rem, 3vw + 0.1rem, 1.2rem);
	color: var(--black);
}

.apresentation__text {
	font-size: clamp(1rem, 3vw + 0.1rem, 1.2rem);
	line-height: 1.2;
	width: 80%;
}

.reviews {
	background-color: var(--white);
}

.outcome {
	padding: 120px 100px;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: repeat(1, 1fr);
	gap: 100px;
	text-align: center;
}

.outcome_img {
	max-width: 100px;
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.outcome_text {
	font-size: clamp(1rem, 5vw + 0.5rem, 1.5rem);
	font-weight: 600;
}

.download {
	background-color: var(--white);
	padding: 120px 100px;
	text-align: center;
}
.download__text {
	font-size: clamp(1rem, 5vw + 0.5rem, 2rem);
	font-weight: 600;
	margin-bottom: 50px;
}

.download__img {
	max-width: 200px;
	width: 100%;
	height: auto;
}

.download__img--google {
	max-width: 225px;
	margin-left: 10px;
}

/* Footer */

.footer {
	background-color: var(--primary-color);
	padding: 70px 100px 40px 100px;
	display: grid;
	grid-template-columns: 3fr 1fr 1fr 1fr;
	grid-template-rows: repeat(2, 1fr);
	justify-items: end;
}

.footer__title {
	color: var(--white);
	margin-bottom: 15px;
	font-size: clamp(1rem, 3vw + 0.1rem, 1.2rem);
}

.footer__title--brand {
	justify-self: start;
	font-size: clamp(2rem, 3vw + 0.1rem, 2.2rem);
}

.footer__link {
	color: var(--white);
	line-height: 1.8;
}

.footer__link:hover {
	color: var(--secondary-color);
}

.footer__copy {
	color: var(--white);
	grid-column: 4 / -1;
	align-self: end;
	font-weight: 600;
}

/* Tablet */

@media all and (max-width: 900px) {
	/* Header */

	.hero {
		padding: 140px 70px 40px 70px;
	}

	/* Main */

	.apresentation,
	.outcome,
	.download {
		padding: 70px;
	}

	/* Footer */

	.footer {
		padding: 70px;
	}
}

@media all and (max-width: 1100px) {
	/* Main */

	.apresentation__title span {
		display: block;
		margin-top: 10px;
	}

	.outcome {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	/* Footer */

	.footer {
		grid-template-columns: 2fr 1fr 1fr 1fr;
	}
}

/* Mobile */

@media all and (max-width: 768px) {
	/* header */

	.nav {
		padding: 10px;
	}

	.hero {
		padding: 140px 30px 40px 30px;
	}

	/* Main */

	.apresentation {
		padding: 50px 30px;
	}

	.apresentation__text {
		width: 100%;
	}

	.download {
		padding: 50px 30px;
	}

	.download__img--google {
		margin-left: 0;
		margin-top: 10px;
	}

	.outcome {
		padding: 50px 30px;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(5, auto);
	}

	.outcome__smile {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
	}

	.outcome__target {
		grid-column: 1 / -1;
		grid-row: 2 /3;
	}

	.outcome__bed {
		grid-column: 1 / -1;
		grid-row: 3 /4;
	}

	.outcome__spa {
		grid-column: 1 / -1;
		grid-row: 4 /-1;
	}

	/* footer */

	.footer {
		padding: 50px 30px;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(5, auto);
		gap: 30px;
		justify-items: start;
	}

	.footer__title--brand {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
	}

	.footer__navigation {
		grid-column: 1 / -1;
		grid-row: 2 /3;
	}

	.footer__contact {
		grid-column: 1 / -1;
		grid-row: 3 /4;
	}

	.footer__follow {
		grid-column: 1 / -1;
		grid-row: 4 /5;
	}

	.footer__copy {
		grid-column: 1 / -1;
		grid-row: 5 /-1;
	}
}

/* header */

@container heroRight (max-width: 767px) {
	.hero__right__img {
		width: 100%;
	}
}
