/* Components */

.btn {
	padding: 10px 20px;
	border-radius: 5px;
	border: 2px solid var(--primary-color);
	font-weight: 400;
}

.btn--primary {
	color: var(--primary-color);
}

.btn--secondary {
	background-color: var(--primary-color);
	color: var(--white);
}

/* Header */

nav {
	background-color: var(--white);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	position: fixed;
	width: 100%;
}

.nav__img {
	max-width: 40px;
	width: 100%;
}

.nav__right .btn--secondary {
	margin-left: 15px;
}

/* Mobile */

@media all and (max-width: 768px) {
	.nav {
		padding: 10px;
	}
}
